@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
	height: 100%;
}
html {
	overflow: hidden;
}
body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
} */

html,
body {
	-webkit-overflow-scrolling: touch !important;
	overflow: auto !important;
}

body {
	position: relative;
}

html {
	height: 100%;
}
